terraform/.terraform/
terraform/*.tfstate*
ansible/*.retry
minikube-linux-amd64 
terraform/infra/terraform.tfstate
terraform/infra/terraform.tfstate.backup
terraform/infra/.terraform/
terraform/infra/terraform.tfvars
terraform/infra/terraform.tfstate
terraform/infra/terraform.tfstate.backup
terraform/infra/.terraform/
terraform/infra/terraform.tfvars
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars
